---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/repos/simplybusiness/important-app/installation
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer fake_token
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"d47e453d53446b709fa8264a4d6e2bbcd75f60536550e663d6b722fc4f80915e"
      X-Github-Media-Type:
      - github.v3; format=json
      X-Github-Api-Version-Selected:
      - '2022-11-28'
    body:
      encoding: UTF-8
      string: '{"id":55045987,"client_id":"client_id","account":{"login":"simplybusiness","id":465825,"node_id":"MDEyOk9yZ2FuaXphdGlvbjQ2NTgyNQ==","avatar_url":"https://avatars.githubusercontent.com/u/465825?v=4","gravatar_id":"","url":"https://api.github.com/users/simplybusiness","html_url":"https://github.com/simplybusiness","followers_url":"https://api.github.com/users/simplybusiness/followers","following_url":"https://api.github.com/users/simplybusiness/following{/other_user}","gists_url":"https://api.github.com/users/simplybusiness/gists{/gist_id}","starred_url":"https://api.github.com/users/simplybusiness/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/simplybusiness/subscriptions","organizations_url":"https://api.github.com/users/simplybusiness/orgs","repos_url":"https://api.github.com/users/simplybusiness/repos","events_url":"https://api.github.com/users/simplybusiness/events{/privacy}","received_events_url":"https://api.github.com/users/simplybusiness/received_events","type":"Organization","site_admin":false},"repository_selection":"selected","access_tokens_url":"https://api.github.com/app/installations/55045987/access_tokens","repositories_url":"https://api.github.com/installation/repositories","html_url":"https://github.com/organizations/simplybusiness/settings/installations/55045987","app_id":1001230,"app_slug":"deploy-status-development","target_id":465825,"target_type":"Organization","permissions":{"checks":"read","issues":"read","metadata":"read","statuses":"write","pull_requests":"read"},"events":[],"created_at":"2024-09-19T14:36:41.000Z","updated_at":"2024-09-20T08:48:32.000Z","single_file_name":null,"has_multiple_single_files":false,"single_file_paths":[],"suspended_by":null,"suspended_at":null}'
  recorded_at: Mon, 23 Sep 2024 10:46:22 GMT
- request:
    method: post
    uri: https://api.github.com/app/installations/55045987/access_tokens
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer fake_token
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"f2a3db04e92d015d085e9218fd7873aa07e159944371e4407b47ad1e42faaf8e"'
      X-Github-Media-Type:
      - github.v3; format=json
      X-Github-Api-Version-Selected:
      - '2022-11-28'
    body:
      encoding: UTF-8
      string: '{"token":"fake_token","expires_at":"2024-09-23T11:46:22Z","permissions":{"checks":"read","issues":"read","metadata":"read","pull_requests":"read","statuses":"write"},"repository_selection":"selected"}'
  recorded_at: Mon, 23 Sep 2024 10:46:22 GMT
- request:
    method: get
    uri: https://api.github.com/repos/simplybusiness/important-app/issues?direction=desc&labels=block%20deploys&state=open
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token fake_token
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"af9de287967863a369e6696e11b79c6be623565f146848e77b2c0f55656bd700"
      X-Github-Media-Type:
      - github.v3; format=json
      X-Accepted-Github-Permissions:
      - issues=read
      X-Github-Api-Version-Selected:
      - '2022-11-28'
      X-Ratelimit-Limit:
      - '15000'
      X-Ratelimit-Remaining:
      - '14998'
      X-Ratelimit-Reset:
      - '1727091911'
      X-Ratelimit-Used:
      - '2'
      X-Ratelimit-Resource:
      - core
    body:
      encoding: UTF-8
      string: '[{"url":"https://api.github.com/repos/simplybusiness/important-app/issues/160","repository_url":"https://api.github.com/repos/simplybusiness/important-app","labels_url":"https://api.github.com/repos/simplybusiness/important-app/issues/160/labels{/name}","comments_url":"https://api.github.com/repos/simplybusiness/important-app/issues/160/comments","events_url":"https://api.github.com/repos/simplybusiness/important-app/issues/160/events","html_url":"https://github.com/simplybusiness/important-app/issues/160","id":2542033130,"node_id":"I_kwDODDsmz86XhFjq","number":160,"title":"Block
        deploys","user":{"login":"test-user","id":5939277,"node_id":"MDQ6VXNlcjU5MzkyNzc=","avatar_url":"https://avatars.githubusercontent.com/u/5939277?v=4","gravatar_id":"","url":"https://api.github.com/users/test-user","html_url":"https://github.com/test-user","followers_url":"https://api.github.com/users/test-user/followers","following_url":"https://api.github.com/users/test-user/following{/other_user}","gists_url":"https://api.github.com/users/test-user/gists{/gist_id}","starred_url":"https://api.github.com/users/test-user/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/test-user/subscriptions","organizations_url":"https://api.github.com/users/test-user/orgs","repos_url":"https://api.github.com/users/test-user/repos","events_url":"https://api.github.com/users/test-user/events{/privacy}","received_events_url":"https://api.github.com/users/test-user/received_events","type":"User","site_admin":false},"labels":[{"id":3334037464,"node_id":"MDU6TGFiZWwzMzM0MDM3NDY0","url":"https://api.github.com/repos/simplybusiness/important-app/labels/block%20deploys","name":"block
        deploys","color":"A4376A","default":false,"description":""}],"state":"open","locked":false,"assignee":null,"assignees":[],"milestone":null,"comments":0,"created_at":"2024-09-23T09:16:25Z","updated_at":"2024-09-23T09:16:26Z","closed_at":null,"author_association":"CONTRIBUTOR","active_lock_reason":null,"body":null,"closed_by":null,"reactions":{"url":"https://api.github.com/repos/simplybusiness/important-app/issues/160/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"timeline_url":"https://api.github.com/repos/simplybusiness/important-app/issues/160/timeline","performed_via_github_app":null,"state_reason":null}]'
  recorded_at: Mon, 23 Sep 2024 10:46:23 GMT
recorded_with: VCR 6.3.1
