---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/repos/simplybusiness/important-app/installation
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token fake_token
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"d47e453d53446b709fa8264a4d6e2bbcd75f60536550e663d6b722fc4f80915e"
      X-Github-Media-Type:
      - github.v3; format=json
      X-Github-Api-Version-Selected:
      - '2022-11-28'
    body:
      encoding: UTF-8
      string: '{"id":55045987,"client_id":"client_id","account":{"login":"simplybusiness","id":465825,"node_id":"MDEyOk9yZ2FuaXphdGlvbjQ2NTgyNQ==","avatar_url":"https://avatars.githubusercontent.com/u/465825?v=4","gravatar_id":"","url":"https://api.github.com/users/simplybusiness","html_url":"https://github.com/simplybusiness","followers_url":"https://api.github.com/users/simplybusiness/followers","following_url":"https://api.github.com/users/simplybusiness/following{/other_user}","gists_url":"https://api.github.com/users/simplybusiness/gists{/gist_id}","starred_url":"https://api.github.com/users/simplybusiness/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/simplybusiness/subscriptions","organizations_url":"https://api.github.com/users/simplybusiness/orgs","repos_url":"https://api.github.com/users/simplybusiness/repos","events_url":"https://api.github.com/users/simplybusiness/events{/privacy}","received_events_url":"https://api.github.com/users/simplybusiness/received_events","type":"Organization","site_admin":false},"repository_selection":"selected","access_tokens_url":"https://api.github.com/app/installations/55045987/access_tokens","repositories_url":"https://api.github.com/installation/repositories","html_url":"https://github.com/organizations/simplybusiness/settings/installations/55045987","app_id":1001230,"app_slug":"deploy-status-development","target_id":465825,"target_type":"Organization","permissions":{"checks":"read","issues":"read","metadata":"read","statuses":"write","pull_requests":"read"},"events":[],"created_at":"2024-09-19T14:36:41.000Z","updated_at":"2024-09-20T08:48:32.000Z","single_file_name":null,"has_multiple_single_files":false,"single_file_paths":[],"suspended_by":null,"suspended_at":null}'
  recorded_at: Fri, 20 Sep 2024 13:36:29 GMT
- request:
    method: post
    uri: https://api.github.com/app/installations/55045987/access_tokens
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer fake_token
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"1454de23a3e4866f5fa91c218a587d94ada9f0650d499adac3d6ea9319f94682"'
      X-Github-Media-Type:
      - github.v3; format=json
      X-Github-Api-Version-Selected:
      - '2022-11-28'
    body:
      encoding: UTF-8
      string: '{"token":"fake_token","expires_at":"2024-09-20T14:36:30Z","permissions":{"checks":"read","issues":"read","metadata":"read","pull_requests":"read","statuses":"write"},"repository_selection":"selected"}'
  recorded_at: Fri, 20 Sep 2024 13:36:30 GMT
- request:
    method: get
    uri: https://api.github.com/repos/simplybusiness/important-app/pulls/159
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token fake_token
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"0e215123d412747f1f75e530cfc86ecefe0c8096522ec578ae332bf9a6666a7c"
      Last-Modified:
      - Fri, 20 Sep 2024 12:21:29 GMT
      X-Github-Media-Type:
      - github.v3; format=json
      X-Accepted-Github-Permissions:
      - pull_requests=read; contents=read
      X-Github-Api-Version-Selected:
      - '2022-11-28'
      X-Ratelimit-Limit:
      - '15000'
      X-Ratelimit-Remaining:
      - '14999'
      X-Ratelimit-Reset:
      - '1726842990'
      X-Ratelimit-Used:
      - '1'
      X-Ratelimit-Resource:
      - core
    body:
      encoding: UTF-8
      string: '{"url":"https://api.github.com/repos/simplybusiness/important-app/pulls/159","id":2081109158,"node_id":"PR_kwDODDsmz858CzSm","html_url":"https://github.com/simplybusiness/important-app/pull/159","diff_url":"https://github.com/simplybusiness/important-app/pull/159.diff","patch_url":"https://github.com/simplybusiness/important-app/pull/159.patch","issue_url":"https://api.github.com/repos/simplybusiness/important-app/issues/159","number":159,"state":"open","locked":false,"title":"Update
        abc.txt","user":{"login":"test-user","id":5939277,"node_id":"MDQ6VXNlcjU5MzkyNzc=","avatar_url":"https://avatars.githubusercontent.com/u/5939277?v=4","gravatar_id":"","url":"https://api.github.com/users/test-user","html_url":"https://github.com/test-user","followers_url":"https://api.github.com/users/test-user/followers","following_url":"https://api.github.com/users/test-user/following{/other_user}","gists_url":"https://api.github.com/users/test-user/gists{/gist_id}","starred_url":"https://api.github.com/users/test-user/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/test-user/subscriptions","organizations_url":"https://api.github.com/users/test-user/orgs","repos_url":"https://api.github.com/users/test-user/repos","events_url":"https://api.github.com/users/test-user/events{/privacy}","received_events_url":"https://api.github.com/users/test-user/received_events","type":"User","site_admin":false},"body":"Sorry
        for spam.","created_at":"2024-09-19T14:10:31Z","updated_at":"2024-09-20T12:21:29Z","closed_at":null,"merged_at":null,"merge_commit_sha":"28d9efaee9e5987cf207a80d9d96d4eb796a2b95","assignee":null,"assignees":[],"requested_reviewers":[],"requested_teams":[],"labels":[{"id":3348775162,"node_id":"MDU6TGFiZWwzMzQ4Nzc1MTYy","url":"https://api.github.com/repos/simplybusiness/important-app/labels/emergency%20deploy","name":"emergency
        deploy","color":"1B926B","default":false,"description":""}],"milestone":null,"draft":false,"commits_url":"https://api.github.com/repos/simplybusiness/important-app/pulls/159/commits","review_comments_url":"https://api.github.com/repos/simplybusiness/important-app/pulls/159/comments","review_comment_url":"https://api.github.com/repos/simplybusiness/important-app/pulls/comments{/number}","comments_url":"https://api.github.com/repos/simplybusiness/important-app/issues/159/comments","statuses_url":"https://api.github.com/repos/simplybusiness/important-app/statuses/0615c40f53e5f2d2d590bed96069b59717eda15c","head":{"label":"simplybusiness:test-branch","ref":"test-branch","sha":"0615c40f53e5f2d2d590bed96069b59717eda15c","user":{"login":"simplybusiness","id":465825,"node_id":"MDEyOk9yZ2FuaXphdGlvbjQ2NTgyNQ==","avatar_url":"https://avatars.githubusercontent.com/u/465825?v=4","gravatar_id":"","url":"https://api.github.com/users/simplybusiness","html_url":"https://github.com/simplybusiness","followers_url":"https://api.github.com/users/simplybusiness/followers","following_url":"https://api.github.com/users/simplybusiness/following{/other_user}","gists_url":"https://api.github.com/users/simplybusiness/gists{/gist_id}","starred_url":"https://api.github.com/users/simplybusiness/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/simplybusiness/subscriptions","organizations_url":"https://api.github.com/users/simplybusiness/orgs","repos_url":"https://api.github.com/users/simplybusiness/repos","events_url":"https://api.github.com/users/simplybusiness/events{/privacy}","received_events_url":"https://api.github.com/users/simplybusiness/received_events","type":"Organization","site_admin":false},"repo":{"id":205203151,"node_id":"MDEwOlJlcG9zaXRvcnkyMDUyMDMxNTE=","name":"important-app","full_name":"simplybusiness/important-app","private":true,"owner":{"login":"simplybusiness","id":465825,"node_id":"MDEyOk9yZ2FuaXphdGlvbjQ2NTgyNQ==","avatar_url":"https://avatars.githubusercontent.com/u/465825?v=4","gravatar_id":"","url":"https://api.github.com/users/simplybusiness","html_url":"https://github.com/simplybusiness","followers_url":"https://api.github.com/users/simplybusiness/followers","following_url":"https://api.github.com/users/simplybusiness/following{/other_user}","gists_url":"https://api.github.com/users/simplybusiness/gists{/gist_id}","starred_url":"https://api.github.com/users/simplybusiness/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/simplybusiness/subscriptions","organizations_url":"https://api.github.com/users/simplybusiness/orgs","repos_url":"https://api.github.com/users/simplybusiness/repos","events_url":"https://api.github.com/users/simplybusiness/events{/privacy}","received_events_url":"https://api.github.com/users/simplybusiness/received_events","type":"Organization","site_admin":false},"html_url":"https://github.com/simplybusiness/important-app","description":"To
        test Github actions","fork":false,"url":"https://api.github.com/repos/simplybusiness/important-app","forks_url":"https://api.github.com/repos/simplybusiness/important-app/forks","keys_url":"https://api.github.com/repos/simplybusiness/important-app/keys{/key_id}","collaborators_url":"https://api.github.com/repos/simplybusiness/important-app/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/simplybusiness/important-app/teams","hooks_url":"https://api.github.com/repos/simplybusiness/important-app/hooks","issue_events_url":"https://api.github.com/repos/simplybusiness/important-app/issues/events{/number}","events_url":"https://api.github.com/repos/simplybusiness/important-app/events","assignees_url":"https://api.github.com/repos/simplybusiness/important-app/assignees{/user}","branches_url":"https://api.github.com/repos/simplybusiness/important-app/branches{/branch}","tags_url":"https://api.github.com/repos/simplybusiness/important-app/tags","blobs_url":"https://api.github.com/repos/simplybusiness/important-app/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/simplybusiness/important-app/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/simplybusiness/important-app/git/refs{/sha}","trees_url":"https://api.github.com/repos/simplybusiness/important-app/git/trees{/sha}","statuses_url":"https://api.github.com/repos/simplybusiness/important-app/statuses/{sha}","languages_url":"https://api.github.com/repos/simplybusiness/important-app/languages","stargazers_url":"https://api.github.com/repos/simplybusiness/important-app/stargazers","contributors_url":"https://api.github.com/repos/simplybusiness/important-app/contributors","subscribers_url":"https://api.github.com/repos/simplybusiness/important-app/subscribers","subscription_url":"https://api.github.com/repos/simplybusiness/important-app/subscription","commits_url":"https://api.github.com/repos/simplybusiness/important-app/commits{/sha}","git_commits_url":"https://api.github.com/repos/simplybusiness/important-app/git/commits{/sha}","comments_url":"https://api.github.com/repos/simplybusiness/important-app/comments{/number}","issue_comment_url":"https://api.github.com/repos/simplybusiness/important-app/issues/comments{/number}","contents_url":"https://api.github.com/repos/simplybusiness/important-app/contents/{+path}","compare_url":"https://api.github.com/repos/simplybusiness/important-app/compare/{base}...{head}","merges_url":"https://api.github.com/repos/simplybusiness/important-app/merges","archive_url":"https://api.github.com/repos/simplybusiness/important-app/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/simplybusiness/important-app/downloads","issues_url":"https://api.github.com/repos/simplybusiness/important-app/issues{/number}","pulls_url":"https://api.github.com/repos/simplybusiness/important-app/pulls{/number}","milestones_url":"https://api.github.com/repos/simplybusiness/important-app/milestones{/number}","notifications_url":"https://api.github.com/repos/simplybusiness/important-app/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/simplybusiness/important-app/labels{/name}","releases_url":"https://api.github.com/repos/simplybusiness/important-app/releases{/id}","deployments_url":"https://api.github.com/repos/simplybusiness/important-app/deployments","created_at":"2019-08-29T16:15:45Z","updated_at":"2024-09-19T12:28:01Z","pushed_at":"2024-09-19T14:10:27Z","git_url":"git://github.com/simplybusiness/important-app.git","ssh_url":"git@github.com:simplybusiness/important-app.git","clone_url":"https://github.com/simplybusiness/important-app.git","svn_url":"https://github.com/simplybusiness/important-app","homepage":null,"size":355,"stargazers_count":0,"watchers_count":0,"language":"Ruby","has_issues":true,"has_projects":true,"has_downloads":true,"has_wiki":true,"has_pages":false,"has_discussions":false,"forks_count":1,"mirror_url":null,"archived":false,"disabled":false,"open_issues_count":3,"license":null,"allow_forking":false,"is_template":false,"web_commit_signoff_required":false,"topics":[],"visibility":"private","forks":1,"open_issues":3,"watchers":0,"default_branch":"master"}},"base":{"label":"simplybusiness:master","ref":"master","sha":"5b8502eb3c7b93463ee0633e82a7ff573965d2a4","user":{"login":"simplybusiness","id":465825,"node_id":"MDEyOk9yZ2FuaXphdGlvbjQ2NTgyNQ==","avatar_url":"https://avatars.githubusercontent.com/u/465825?v=4","gravatar_id":"","url":"https://api.github.com/users/simplybusiness","html_url":"https://github.com/simplybusiness","followers_url":"https://api.github.com/users/simplybusiness/followers","following_url":"https://api.github.com/users/simplybusines[...]
- request:
    method: post
    uri: https://api.github.com/repos/simplybusiness/important-app/statuses/0615c40f53e5f2d2d590bed96069b59717eda15c
    body:
      encoding: UTF-8
      string: '{"description":"You are free to deploy","context":"Deploy status","target_url":null,"state":"success"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token fake_token
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"0257b570707aa8ead449982405fbb72c3ea41396fed22ca9abb593b53ccab27f"'
      Location:
      - https://api.github.com/repos/simplybusiness/important-app/statuses/0615c40f53e5f2d2d590bed96069b59717eda15c
      X-Github-Media-Type:
      - github.v3; format=json
      X-Accepted-Github-Permissions:
      - statuses=write
      X-Github-Api-Version-Selected:
      - '2022-11-28'
      X-Ratelimit-Limit:
      - '15000'
      X-Ratelimit-Remaining:
      - '14998'
      X-Ratelimit-Reset:
      - '1726842990'
      X-Ratelimit-Used:
      - '2'
      X-Ratelimit-Resource:
      - core
    body:
      encoding: UTF-8
      string: '{"url":"https://api.github.com/repos/simplybusiness/important-app/statuses/0615c40f53e5f2d2d590bed96069b59717eda15c","avatar_url":"https://avatars.githubusercontent.com/u/465825?v=4","id":31509092833,"node_id":"SC_kwDODDsmz88AAAAHVhaZ4Q","state":"success","description":"You
        are free to deploy","target_url":null,"context":"Deploy status","created_at":"2024-09-20T13:36:30Z","updated_at":"2024-09-20T13:36:30Z","creator":{"login":"deploy-status-development[bot]","id":181950833,"node_id":"BOT_kgDOCthZcQ","avatar_url":"https://avatars.githubusercontent.com/u/465825?v=4","gravatar_id":"","url":"https://api.github.com/users/deploy-status-development%5Bbot%5D","html_url":"https://github.com/apps/deploy-status-development","followers_url":"https://api.github.com/users/deploy-status-development%5Bbot%5D/followers","following_url":"https://api.github.com/users/deploy-status-development%5Bbot%5D/following{/other_user}","gists_url":"https://api.github.com/users/deploy-status-development%5Bbot%5D/gists{/gist_id}","starred_url":"https://api.github.com/users/deploy-status-development%5Bbot%5D/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/deploy-status-development%5Bbot%5D/subscriptions","organizations_url":"https://api.github.com/users/deploy-status-development%5Bbot%5D/orgs","repos_url":"https://api.github.com/users/deploy-status-development%5Bbot%5D/repos","events_url":"https://api.github.com/users/deploy-status-development%5Bbot%5D/events{/privacy}","received_events_url":"https://api.github.com/users/deploy-status-development%5Bbot%5D/received_events","type":"Bot","site_admin":false}}'
  recorded_at: Fri, 20 Sep 2024 13:36:31 GMT
recorded_with: VCR 6.3.1
