---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/repos/simplybusiness/important-app/installation
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer fake_token
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"d47e453d53446b709fa8264a4d6e2bbcd75f60536550e663d6b722fc4f80915e"
      X-Github-Media-Type:
      - github.v3; format=json
      X-Github-Api-Version-Selected:
      - '2022-11-28'
    body:
      encoding: UTF-8
      string: '{"id":55045987,"client_id":"client_id","account":{"login":"simplybusiness","id":465825,"node_id":"MDEyOk9yZ2FuaXphdGlvbjQ2NTgyNQ==","avatar_url":"https://avatars.githubusercontent.com/u/465825?v=4","gravatar_id":"","url":"https://api.github.com/users/simplybusiness","html_url":"https://github.com/simplybusiness","followers_url":"https://api.github.com/users/simplybusiness/followers","following_url":"https://api.github.com/users/simplybusiness/following{/other_user}","gists_url":"https://api.github.com/users/simplybusiness/gists{/gist_id}","starred_url":"https://api.github.com/users/simplybusiness/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/simplybusiness/subscriptions","organizations_url":"https://api.github.com/users/simplybusiness/orgs","repos_url":"https://api.github.com/users/simplybusiness/repos","events_url":"https://api.github.com/users/simplybusiness/events{/privacy}","received_events_url":"https://api.github.com/users/simplybusiness/received_events","type":"Organization","site_admin":false},"repository_selection":"selected","access_tokens_url":"https://api.github.com/app/installations/55045987/access_tokens","repositories_url":"https://api.github.com/installation/repositories","html_url":"https://github.com/organizations/simplybusiness/settings/installations/55045987","app_id":1001230,"app_slug":"deploy-status-development","target_id":465825,"target_type":"Organization","permissions":{"checks":"read","issues":"read","metadata":"read","statuses":"write","pull_requests":"read"},"events":[],"created_at":"2024-09-19T14:36:41.000Z","updated_at":"2024-09-20T08:48:32.000Z","single_file_name":null,"has_multiple_single_files":false,"single_file_paths":[],"suspended_by":null,"suspended_at":null}'
  recorded_at: Mon, 23 Sep 2024 09:14:15 GMT
- request:
    method: post
    uri: https://api.github.com/app/installations/55045987/access_tokens
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer fake_token
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"4f45afd9b53cce3af04ecef20f5daf1c9b90327d85f5fc0e55bc9b1277d65310"'
      X-Github-Media-Type:
      - github.v3; format=json
      X-Github-Api-Version-Selected:
      - '2022-11-28'
    body:
      encoding: UTF-8
      string: '{"token":"fake_token","expires_at":"2024-09-23T10:14:15Z","permissions":{"checks":"read","issues":"read","metadata":"read","pull_requests":"read","statuses":"write"},"repository_selection":"selected"}'
  recorded_at: Mon, 23 Sep 2024 09:14:15 GMT
- request:
    method: get
    uri: https://api.github.com/repos/simplybusiness/important-app/issues?direction=desc&labels=block%20deploys&state=open
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token fake_token
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"585824329e513fbc16d7f9176f0896e2de8c65ea2bf46c72d4fe04de145f0b13"'
      X-Github-Media-Type:
      - github.v3; format=json
      X-Accepted-Github-Permissions:
      - issues=read
      X-Github-Api-Version-Selected:
      - '2022-11-28'
      X-Ratelimit-Limit:
      - '15000'
      X-Ratelimit-Remaining:
      - '14995'
      X-Ratelimit-Reset:
      - '1727085957'
      X-Ratelimit-Used:
      - '5'
      X-Ratelimit-Resource:
      - core
    body:
      encoding: UTF-8
      string: "[]"
  recorded_at: Mon, 23 Sep 2024 09:14:16 GMT
- request:
    method: post
    uri: https://api.github.com/repos/simplybusiness/important-app/statuses/03743b2ec1b201cec2de04ebebbac6e74afab281
    body:
      encoding: UTF-8
      string: '{"description":"You are free to deploy","context":"Deploy status","target_url":null,"state":"success"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token fake_token
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"2ee112272b6c9bcc66fa1825cbc7c1d6d7e4254039437227395f75ff0c0ef5c9"'
      Location:
      - https://api.github.com/repos/simplybusiness/important-app/statuses/03743b2ec1b201cec2de04ebebbac6e74afab281
      X-Github-Media-Type:
      - github.v3; format=json
      X-Accepted-Github-Permissions:
      - statuses=write
      X-Github-Api-Version-Selected:
      - '2022-11-28'
      X-Ratelimit-Limit:
      - '15000'
      X-Ratelimit-Remaining:
      - '14994'
      X-Ratelimit-Reset:
      - '1727085957'
      X-Ratelimit-Used:
      - '6'
      X-Ratelimit-Resource:
      - core
    body:
      encoding: UTF-8
      string: '{"url":"https://api.github.com/repos/simplybusiness/important-app/statuses/03743b2ec1b201cec2de04ebebbac6e74afab281","avatar_url":"https://avatars.githubusercontent.com/u/465825?v=4","id":31535775266,"node_id":"SC_kwDODDsmz88AAAAHV62-Ig","state":"success","description":"You
        are free to deploy","target_url":null,"context":"Deploy status","created_at":"2024-09-23T09:14:16Z","updated_at":"2024-09-23T09:14:16Z","creator":{"login":"deploy-status-development[bot]","id":181950833,"node_id":"BOT_kgDOCthZcQ","avatar_url":"https://avatars.githubusercontent.com/u/465825?v=4","gravatar_id":"","url":"https://api.github.com/users/deploy-status-development%5Bbot%5D","html_url":"https://github.com/apps/deploy-status-development","followers_url":"https://api.github.com/users/deploy-status-development%5Bbot%5D/followers","following_url":"https://api.github.com/users/deploy-status-development%5Bbot%5D/following{/other_user}","gists_url":"https://api.github.com/users/deploy-status-development%5Bbot%5D/gists{/gist_id}","starred_url":"https://api.github.com/users/deploy-status-development%5Bbot%5D/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/deploy-status-development%5Bbot%5D/subscriptions","organizations_url":"https://api.github.com/users/deploy-status-development%5Bbot%5D/orgs","repos_url":"https://api.github.com/users/deploy-status-development%5Bbot%5D/repos","events_url":"https://api.github.com/users/deploy-status-development%5Bbot%5D/events{/privacy}","received_events_url":"https://api.github.com/users/deploy-status-development%5Bbot%5D/received_events","type":"Bot","site_admin":false}}'
  recorded_at: Mon, 23 Sep 2024 09:14:16 GMT
recorded_with: VCR 6.3.1
