---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/repos/simplybusiness/important-app/pulls?state=open
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token fake_token
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4996'
      X-Ratelimit-Reset:
      - '1572036605'
      Etag:
      - W/"a2d6ba7a184997178e4fcecec69387e6"
      X-Oauth-Scopes:
      - repo
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
      Link:
      - <https://api.github.com/repositories/2974110/pulls?state=open&page=2>; rel="next",
        <https://api.github.com/repositories/2974110/pulls?state=open&page=6>; rel="last"
    body:
      encoding: UTF-8
      string: '[{"url":"https://api.github.com/repos/simplybusiness/important-app/pulls/13033","id":332655676,"node_id":"MDExOlB1bGxSZXF1ZXN0MzMyNjU1Njc2","html_url":"https://github.com/simplybusiness/important-app/pull/13033","diff_url":"https://github.com/simplybusiness/important-app/pull/13033.diff","patch_url":"https://github.com/simplybusiness/important-app/pull/13033.patch","issue_url":"https://api.github.com/repos/simplybusiness/important-app/issues/13033","number":13033,"state":"open","locked":false,"title":"Hiscox
        pl eligibility questions grouped boolean","user":{"login":"MarkHarrisSB","id":13554176,"node_id":"MDQ6VXNlcjEzNTU0MTc2","avatar_url":"https://avatars3.githubusercontent.com/u/13554176?v=4","gravatar_id":"","url":"https://api.github.com/users/MarkHarrisSB","html_url":"https://github.com/MarkHarrisSB","followers_url":"https://api.github.com/users/MarkHarrisSB/followers","following_url":"https://api.github.com/users/MarkHarrisSB/following{/other_user}","gists_url":"https://api.github.com/users/MarkHarrisSB/gists{/gist_id}","starred_url":"https://api.github.com/users/MarkHarrisSB/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/MarkHarrisSB/subscriptions","organizations_url":"https://api.github.com/users/MarkHarrisSB/orgs","repos_url":"https://api.github.com/users/MarkHarrisSB/repos","events_url":"https://api.github.com/users/MarkHarrisSB/events{/privacy}","received_events_url":"https://api.github.com/users/MarkHarrisSB/received_events","type":"User","site_admin":false},"body":"x_rated
        PR - https://github.com/simplybusiness/x_rated_lite/pull/2736\r\nSparking
        aerie PR - https://github.com/simplybusiness/sparkling_aerie/pull/1505\r\n\r\nPlease
        review and sign off @simplybusiness/rock-the-quote \r\n\r\n@yvilen @montefoa
        @samanthapepe - this contains a number of new questions\r\n\r\nhttps://trello.com/c/5ZzFLWwf/1546-hiscox-pl-new-eligibility-questions-grouped-booleans-part-1","created_at":"2019-10-25T19:50:01Z","updated_at":"2019-10-25T19:53:04Z","closed_at":null,"merged_at":null,"merge_commit_sha":"9bbed4c9cb0f8df7fdd36933ebd136fa1343eb09","assignee":null,"assignees":[],"requested_reviewers":[],"requested_teams":[],"labels":[],"milestone":null,"commits_url":"https://api.github.com/repos/simplybusiness/important-app/pulls/13033/commits","review_comments_url":"https://api.github.com/repos/simplybusiness/important-app/pulls/13033/comments","review_comment_url":"https://api.github.com/repos/simplybusiness/important-app/pulls/comments{/number}","comments_url":"https://api.github.com/repos/simplybusiness/important-app/issues/13033/comments","statuses_url":"https://api.github.com/repos/simplybusiness/important-app/statuses/3dd8312ad575d388817f75a5411b501d5e87c013","head":{"label":"simplybusiness:hiscox-pl-eligibility-questions-grouped-boolean","ref":"hiscox-pl-eligibility-questions-grouped-boolean","sha":"3dd8312ad575d388817f75a5411b501d5e87c013","user":{"login":"simplybusiness","id":465825,"node_id":"MDEyOk9yZ2FuaXphdGlvbjQ2NTgyNQ==","avatar_url":"https://avatars3.githubusercontent.com/u/465825?v=4","gravatar_id":"","url":"https://api.github.com/users/simplybusiness","html_url":"https://github.com/simplybusiness","followers_url":"https://api.github.com/users/simplybusiness/followers","following_url":"https://api.github.com/users/simplybusiness/following{/other_user}","gists_url":"https://api.github.com/users/simplybusiness/gists{/gist_id}","starred_url":"https://api.github.com/users/simplybusiness/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/simplybusiness/subscriptions","organizations_url":"https://api.github.com/users/simplybusiness/orgs","repos_url":"https://api.github.com/users/simplybusiness/repos","events_url":"https://api.github.com/users/simplybusiness/events{/privacy}","received_events_url":"https://api.github.com/users/simplybusiness/received_events","type":"Organization","site_admin":false},"repo":{"id":2974110,"node_id":"MDEwOlJlcG9zaXRvcnkyOTc0MTEw","name":"important-app","full_name":"simplybusiness/important-app","private":true,"owner":{"login":"simplybusiness","id":465825,"node_id":"MDEyOk9yZ2FuaXphdGlvbjQ2NTgyNQ==","avatar_url":"https://avatars3.githubusercontent.com/u/465825?v=4","gravatar_id":"","url":"https://api.github.com/users/simplybusiness","html_url":"https://github.com/simplybusiness","followers_url":"https://api.github.com/users/simplybusiness/followers","following_url":"https://api.github.com/users/simplybusiness/following{/other_user}","gists_url":"https://api.github.com/users/simplybusiness/gists{/gist_id}","starred_url":"https://api.github.com/users/simplybusiness/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/simplybusiness/subscriptions","organizations_url":"https://api.github.com/users/simplybusiness/orgs","repos_url":"https://api.github.com/users/simplybusiness/repos","events_url":"https://api.github.com/users/simplybusiness/events{/privacy}","received_events_url":"https://api.github.com/users/simplybusiness/received_events","type":"Organization","site_admin":false},"html_url":"https://github.com/simplybusiness/important-app","description":"something","fork":false,"url":"https://api.github.com/repos/simplybusiness/important-app","forks_url":"https://api.github.com/repos/simplybusiness/important-app/forks","keys_url":"https://api.github.com/repos/simplybusiness/important-app/keys{/key_id}","collaborators_url":"https://api.github.com/repos/simplybusiness/important-app/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/simplybusiness/important-app/teams","hooks_url":"https://api.github.com/repos/simplybusiness/important-app/hooks","issue_events_url":"https://api.github.com/repos/simplybusiness/important-app/issues/events{/number}","events_url":"https://api.github.com/repos/simplybusiness/important-app/events","assignees_url":"https://api.github.com/repos/simplybusiness/important-app/assignees{/user}","branches_url":"https://api.github.com/repos/simplybusiness/important-app/branches{/branch}","tags_url":"https://api.github.com/repos/simplybusiness/important-app/tags","blobs_url":"https://api.github.com/repos/simplybusiness/important-app/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/simplybusiness/important-app/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/simplybusiness/important-app/git/refs{/sha}","trees_url":"https://api.github.com/repos/simplybusiness/important-app/git/trees{/sha}","statuses_url":"https://api.github.com/repos/simplybusiness/important-app/statuses/{sha}","languages_url":"https://api.github.com/repos/simplybusiness/important-app/languages","stargazers_url":"https://api.github.com/repos/simplybusiness/important-app/stargazers","contributors_url":"https://api.github.com/repos/simplybusiness/important-app/contributors","subscribers_url":"https://api.github.com/repos/simplybusiness/important-app/subscribers","subscription_url":"https://api.github.com/repos/simplybusiness/important-app/subscription","commits_url":"https://api.github.com/repos/simplybusiness/important-app/commits{/sha}","git_commits_url":"https://api.github.com/repos/simplybusiness/important-app/git/commits{/sha}","comments_url":"https://api.github.com/repos/simplybusiness/important-app/comments{/number}","issue_comment_url":"https://api.github.com/repos/simplybusiness/important-app/issues/comments{/number}","contents_url":"https://api.github.com/repos/simplybusiness/important-app/contents/{+path}","compare_url":"https://api.github.com/repos/simplybusiness/important-app/compare/{base}...{head}","merges_url":"https://api.github.com/repos/simplybusiness/important-app/merges","archive_url":"https://api.github.com/repos/simplybusiness/important-app/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/simplybusiness/important-app/downloads","issues_url":"https://api.github.com/repos/simplybusiness/important-app/issues{/number}","pulls_url":"https://api.github.com/repos/simplybusiness/important-app/pulls{/number}","milestones_url":"https://api.github.com/repos/simplybusiness/important-app/milestones{/number}","notifications_url":"https://api.github.com/repos/simplybusiness/important-app/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/simplybusiness/important-app/labels{/name}","releases_url":"https://api.github.com/repos/simplybusiness/important-app/releases{/id}","deployments_url":"https://api.github.com/repos/simplybusiness/important-app/deployments","created_at":"2011-12-13T17:54:23Z","updated_at":"2019-10-25T18:45:22Z","pushed_at":"2019-10-25T19:50:01Z","git_url":"git://github.com/simplybusiness/important-app.git","ssh_url":"git@github.com:simplybusiness/important-app.git","clone_url":"https://github.com/simplybusiness/important-app.git","svn_url":"https://github.com/simplybusiness/important-app","homepage":"https://quote.simplybusiness.co.uk/","size":214805,"stargazers_count":8,"watchers_count":8,"language":"HTML","has_issues":true,"has_projects":true,"has_downloads":true,"has_wiki":true,"has_pages":false,"forks_count":0,"mirror_url":null,"archived":false,"disabled":false,"open_issues_count":160,"license":null,"forks":0,"open_issues":160,"watchers":8,"default_branch":"master"}},"base":{"label":"simplybusiness:master","ref":"master","sha":"d5cc957d94d14f511d9a597c675616bb75570fca","user":{"login":"simplybusiness","id":465825,"node_id":"MDEyOk9yZ2FuaXphdGlvbjQ2NTgyNQ==","avatar_url":"https://avatars3.githubusercontent.com/u/465825?v=4","gravatar_id":"","url":"https://api.github.com/users/simplybusiness","html_url":"https://github.com/simplybusiness","followers_url":"https://api.github.com/users/simplybusiness/followers","following_url":"https://api.github.com/users/simplybusine[...]
