---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/repos/simplybusiness/chopin/issues?direction=desc&labels=block%20deploys&state=open
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token fake_token
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4989'
      X-Ratelimit-Reset:
      - '1572028006'
      Etag:
      - W/"0b352acaf1c409cfab3b693646bdaf99"
      X-Oauth-Scopes:
      - repo
      X-Accepted-Oauth-Scopes:
      - repo
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: '[{"url":"https://api.github.com/repos/simplybusiness/chopin/issues/13031","repository_url":"https://api.github.com/repos/simplybusiness/chopin","labels_url":"https://api.github.com/repos/simplybusiness/chopin/issues/13031/labels{/name}","comments_url":"https://api.github.com/repos/simplybusiness/chopin/issues/13031/comments","events_url":"https://api.github.com/repos/simplybusiness/chopin/issues/13031/events","html_url":"https://github.com/simplybusiness/chopin/issues/13031","id":512648594,"node_id":"MDU6SXNzdWU1MTI2NDg1OTQ=","number":13031,"title":"Drew''s
        Test","user":{"login":"DrewCurd","id":44407969,"node_id":"MDQ6VXNlcjQ0NDA3OTY5","avatar_url":"https://avatars1.githubusercontent.com/u/44407969?v=4","gravatar_id":"","url":"https://api.github.com/users/DrewCurd","html_url":"https://github.com/DrewCurd","followers_url":"https://api.github.com/users/DrewCurd/followers","following_url":"https://api.github.com/users/DrewCurd/following{/other_user}","gists_url":"https://api.github.com/users/DrewCurd/gists{/gist_id}","starred_url":"https://api.github.com/users/DrewCurd/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/DrewCurd/subscriptions","organizations_url":"https://api.github.com/users/DrewCurd/orgs","repos_url":"https://api.github.com/users/DrewCurd/repos","events_url":"https://api.github.com/users/DrewCurd/events{/privacy}","received_events_url":"https://api.github.com/users/DrewCurd/received_events","type":"User","site_admin":false},"labels":[{"id":1638700619,"node_id":"MDU6TGFiZWwxNjM4NzAwNjE5","url":"https://api.github.com/repos/simplybusiness/chopin/labels/blocked_deploy","name":"blocked_deploy","color":"FF0000","default":false}],"state":"open","locked":false,"assignee":null,"assignees":[],"milestone":null,"comments":0,"created_at":"2019-10-25T18:10:03Z","updated_at":"2019-10-25T18:10:03Z","closed_at":null,"author_association":"COLLABORATOR","body":""}]'
  recorded_at: Fri, 25 Oct 2019 11:00:00 GMT
- request:
    method: post
    uri: https://api.github.com/repos/simplybusiness/chopin/statuses/63f739d5586b2c6b718045893789d620e0d0aee9
    body:
      encoding: UTF-8
      string: '{"description":"The Deploy is BLOCKED","context":"Deploy Status","state":"failure"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token fake_token
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 201 Created
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4988'
      X-Ratelimit-Reset:
      - '1572028006'
      Etag:
      - '"828de8548add182938b00aaafb2dc2f4"'
      X-Oauth-Scopes:
      - repo
      X-Accepted-Oauth-Scopes:
      - ''
      Location:
      - https://api.github.com/repos/simplybusiness/chopin/statuses/63f739d5586b2c6b718045893789d620e0d0aee9
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: '{"url":"https://api.github.com/repos/simplybusiness/chopin/statuses/63f739d5586b2c6b718045893789d620e0d0aee9","avatar_url":"https://avatars1.githubusercontent.com/u/44407969?v=4","id":7972920046,"node_id":"MDEzOlN0YXR1c0NvbnRleHQ3OTcyOTIwMDQ2","state":"failure","description":"The
        Deploy is BLOCKED","target_url":null,"context":"Deploy Status","created_at":"2019-10-25T18:11:25Z","updated_at":"2019-10-25T18:11:25Z","creator":{"login":"DrewCurd","id":44407969,"node_id":"MDQ6VXNlcjQ0NDA3OTY5","avatar_url":"https://avatars1.githubusercontent.com/u/44407969?v=4","gravatar_id":"","url":"https://api.github.com/users/DrewCurd","html_url":"https://github.com/DrewCurd","followers_url":"https://api.github.com/users/DrewCurd/followers","following_url":"https://api.github.com/users/DrewCurd/following{/other_user}","gists_url":"https://api.github.com/users/DrewCurd/gists{/gist_id}","starred_url":"https://api.github.com/users/DrewCurd/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/DrewCurd/subscriptions","organizations_url":"https://api.github.com/users/DrewCurd/orgs","repos_url":"https://api.github.com/users/DrewCurd/repos","events_url":"https://api.github.com/users/DrewCurd/events{/privacy}","received_events_url":"https://api.github.com/users/DrewCurd/received_events","type":"User","site_admin":false}}'
  recorded_at: Fri, 25 Oct 2019 11:00:00 GMT
- request:
    method: get
    uri: https://api.github.com/repos/simplybusiness/chopin/pulls/13030
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token fake_token
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4993'
      X-Ratelimit-Reset:
      - '1572031494'
      Etag:
      - W/"6eef63d0ee671f1e2d0c2c4c28f86c3a"
      Last-Modified:
      - Fri, 25 Oct 2019 17:52:25 GMT
      X-Oauth-Scopes:
      - repo
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: '{"labels":[{"id":1638720027,"node_id":"MDU6TGFiZWwxNjM4NzIwMDI3","url":"https://api.github.com/repos/simplybusiness/chopin/labels/emergency deploy","name":"emergency deploy","color":"065bcc","default":false}]}'
  recorded_at: Fri, 25 Oct 2019 11:00:00 GMT
recorded_with: VCR 3.0.3
