---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/repos/simplybusiness/important-app/issues?direction=desc&labels=block%20deploys&state=open
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token fake_token
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4993'
      X-Ratelimit-Reset:
      - '1572028006'
      Etag:
      - '"a77109088aed815ea0e0d506aa4387a9"'
      X-Oauth-Scopes:
      - repo
      X-Accepted-Oauth-Scopes:
      - repo
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: "[]"
  recorded_at: Fri, 25 Oct 2019 11:00:00 GMT
- request:
    method: post
    uri: https://api.github.com/repos/simplybusiness/important-app/statuses/63f739d5586b2c6b718045893789d620e0d0aee9
    body:
      encoding: UTF-8
      string: '{"description":"The Deploy is free","context":"Deploy Status","state":"success"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token fake_token
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 201 Created
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4992'
      X-Ratelimit-Reset:
      - '1572028006'
      Etag:
      - '"63e64229684e53ae835817ae41360279"'
      X-Oauth-Scopes:
      - repo
      X-Accepted-Oauth-Scopes:
      - ''
      Location:
      - https://api.github.com/repos/simplybusiness/important-app/statuses/63f739d5586b2c6b718045893789d620e0d0aee9
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: '{"url":"https://api.github.com/repos/simplybusiness/important-app/statuses/63f739d5586b2c6b718045893789d620e0d0aee9","avatar_url":"https://avatars1.githubusercontent.com/u/44407969?v=4","id":7972877558,"node_id":"MDEzOlN0YXR1c0NvbnRleHQ3OTcyODc3NTU4","state":"success","description":"The
        Deploy is free","target_url":null,"context":"Deploy Status","created_at":"2019-10-25T18:06:38Z","updated_at":"2019-10-25T18:06:38Z","creator":{"login":"sb-silversmiths-bot","id":44407969,"node_id":"MDQ6VXNlcjQ0NDA3OTY5","avatar_url":"https://avatars1.githubusercontent.com/u/44407969?v=4","gravatar_id":"","url":"https://api.github.com/users/sb-silversmiths-bot","html_url":"https://github.com/sb-silversmiths-bot","followers_url":"https://api.github.com/users/sb-silversmiths-bot/followers","following_url":"https://api.github.com/users/sb-silversmiths-bot/following{/other_user}","gists_url":"https://api.github.com/users/sb-silversmiths-bot/gists{/gist_id}","starred_url":"https://api.github.com/users/sb-silversmiths-bot/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/sb-silversmiths-bot/subscriptions","organizations_url":"https://api.github.com/users/sb-silversmiths-bot/orgs","repos_url":"https://api.github.com/users/sb-silversmiths-bot/repos","events_url":"https://api.github.com/users/sb-silversmiths-bot/events{/privacy}","received_events_url":"https://api.github.com/users/sb-silversmiths-bot/received_events","type":"User","site_admin":false}}'
  recorded_at: Fri, 25 Oct 2019 11:00:00 GMT
- request:
    method: get
    uri: https://api.github.com/repos/simplybusiness/important-app/pulls/13030
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
        - application/json
      Authorization:
        - token fake_token
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
        - application/json; charset=utf-8
      Status:
        - 200 OK
      X-Ratelimit-Limit:
        - '5000'
      X-Ratelimit-Remaining:
        - '4993'
      X-Ratelimit-Reset:
        - '1572031494'
      Etag:
        - W/"6eef63d0ee671f1e2d0c2c4c28f86c3a"
      Last-Modified:
        - Fri, 25 Oct 2019 17:52:25 GMT
      X-Oauth-Scopes:
        - repo
      X-Accepted-Oauth-Scopes:
        - ''
      X-Github-Media-Type:
        - github.v3; format=json
    body:
      encoding: UTF-8
      string: '{"labels":[{"id":1638720027,"node_id":"MDU6TGFiZWwxNjM4NzIwMDI3","url":"https://api.github.com/repos/simplybusiness/important-app/labels/emergency deploy","name":"emergency deploy","color":"065bcc","default":false}]}'
  recorded_at: Fri, 25 Oct 2019 11:00:00 GMT
recorded_with: VCR 3.0.3
