---
http_interactions:
- request:
    method: post
    uri: https://api.github.com/repos/simplybusiness/important-app/statuses/63f739d5586b2c6b718045893789d620e0d0aee9
    body:
      encoding: UTF-8
      string: '{"description":"The Deploy is free","context":"Deploy Status","state":"success"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token fake_token
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 201 Created
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4998'
      X-Ratelimit-Reset:
      - '1572027244'
      Etag:
      - '"e32cf560d0e7721dfa369738af1adb1b"'
      X-Oauth-Scopes:
      - repo
      X-Accepted-Oauth-Scopes:
      - ''
      Location:
      - https://api.github.com/repos/simplybusiness/important-app/statuses/63f739d5586b2c6b718045893789d620e0d0aee9
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: '{"url":"https://api.github.com/repos/simplybusiness/important-app/statuses/63f739d5586b2c6b718045893789d620e0d0aee9","avatar_url":"https://avatars1.githubusercontent.com/u/44407969?v=4","id":7972500920,"node_id":"MDEzOlN0YXR1c0NvbnRleHQ3OTcyNTAwOTIw","state":"success","description":"The
        Deploy is free","target_url":null,"context":"Deploy Status","created_at":"2019-10-25T17:22:20Z","updated_at":"2019-10-25T17:22:20Z","creator":{"login":"sb-silversmiths-bot","id":44407969,"node_id":"MDQ6VXNlcjQ0NDA3OTY5","avatar_url":"https://avatars1.githubusercontent.com/u/44407969?v=4","gravatar_id":"","url":"https://api.github.com/users/sb-silversmiths-bot","html_url":"https://github.com/sb-silversmiths-bot","followers_url":"https://api.github.com/users/sb-silversmiths-bot/followers","following_url":"https://api.github.com/users/sb-silversmiths-bot/following{/other_user}","gists_url":"https://api.github.com/users/sb-silversmiths-bot/gists{/gist_id}","starred_url":"https://api.github.com/users/sb-silversmiths-bot/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/sb-silversmiths-bot/subscriptions","organizations_url":"https://api.github.com/users/sb-silversmiths-bot/orgs","repos_url":"https://api.github.com/users/sb-silversmiths-bot/repos","events_url":"https://api.github.com/users/sb-silversmiths-bot/events{/privacy}","received_events_url":"https://api.github.com/users/sb-silversmiths-bot/received_events","type":"User","site_admin":false}}'
  recorded_at: Fri, 25 Oct 2019 11:00:00 GMT
recorded_with: VCR 3.0.3
